<h1>ngOutletComponent</h1>
<p>Полезные ссылки по теме</p>
<ul style="margin-bottom: 50px">
    <li>
        <a href="https://stackblitz.com/edit/angular-pux5iz">Пример кода stackblitz.com</a>
    </li>
     <li>
        <a href="https://angular.io/api/common/NgComponentOutlet">Оф. дока</a>
    </li>
     <li>
        <a href="https://medium.com/@symposia/dynamic-component-rendering-in-angular-5-with-ngcomponentoutlet-410bec3ece75">Медиум статья</a>
    </li>
</ul>

<h2>BMTV</h2>
<app-bmtv-track-list></app-bmtv-track-list>
<h2>PROD</h2>
<app-prod-track-list></app-prod-track-list>
